<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- DESKTOP NAVBAR -->
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper blue">
			<div class="container">
				<a href="/views/index.html" class="brand-logo">
					<img src="../public/logo4.png" alt="">
				</a>
				<a href="#" class="sidenav-trigger" data-target="mobile-nav">
					<!-- <i class="fas fa fa-bars" style="font-size: 25px;"></i> -->
					<i class="material-icons">menu</i>
				</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/views/index.html">Home</a></li>
					<li><a href="/views/client.html">Clients</a></li>
					<li><a class="dropdown-trigger" href="#" data-target="dropdown1">Team Statistics<i class="material-icons right">arrow_drop_down</i></a></li>
					<li><a class="dropdown-trigger" href="#" data-target="dropdown2">Resources<i class="material-icons right">arrow_drop_down</i></a></li>
					<li><a href="">Cam Assignments</a></li>
					<li><a href="">Litmos</a></li>
					<!-- <li><a href="">Sign Up</a></li>
					<li><a href="#login-modal" class="modal-trigger">Login</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
</div>

<!-- DESKTOP DROPDOWN -->
<ul id="dropdown1" class="dropdown-content">
	<li><a href="#">one</a></li>
	<li><a href="#">two</a></li>
	<li class="divider"></li>
	<li><a href="#">three</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
	<li><a href="#">one</a></li>
	<li><a href="#">two</a></li>
	<li class="divider"></li>
	<li><a href="#">three</a></li>
</ul>

<!-- <div class="modal" id="login-modal">
	<div class="modal-content center-align">
		<h3>Login</h3>
		<form class="s12">
			<div class="row">
				<div class="input-field s12">
					<i class="material-icons prefix">group</i><input type="email" required>
					<label>Username</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field s12">
						<i class="material-icons prefix">lock</i><input type="password" required>
					<label>Password</label>
				</div>
			</div>
			<button class="btn waves-effect waves-light blue" type="submit" name="action">
				Login
			</button>
		</form>
	</div>
</div> -->

<!-- MOBILE SIDENAV -->
<ul class="sidenav" id="mobile-nav">
	<li><a href="/views/index.html">Home</a></li>
	<li><a href="/views/client.html">Clients</a></li>
	<li><a class="dropdown-trigger" href="#" data-target="dropdown3">Team Statistics<i class="material-icons right">arrow_drop_down</i></a></li>
	<li><a class="dropdown-trigger" href="#" data-target="dropdown4">Resources<i class="material-icons right">arrow_drop_down</i></a></li>
	<li><a href="">Cam Assignments</a></li>
	<li><a href="">Litmos</a></li>
	<!-- <li><a href="">Sign Up</a></li> -->
	<!-- <li><a href="#login-modal" class="modal-trigger">Login</a></li> -->
</ul>

<!-- MOBILE DROPDOWN -->
<ul id="dropdown3" class="dropdown-content">
	<li><a href="#">one</a></li>
	<li><a href="#">two</a></li>
	<li class="divider"></li>
	<li><a href="#">three</a></li>
</ul>
<ul id="dropdown4" class="dropdown-content">
	<li><a href="#">one</a></li>
	<li><a href="#">two</a></li>
	<li class="divider"></li>
	<li><a href="#">three</a></li>
</ul>

<script>
  $(document).ready(function(){
    $('.modal').modal();
  });

	$(document).ready(function() {
		$('.sidenav').sidenav();
	})
	$(".dropdown-trigger").dropdown();
</script>