<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../public/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<title>Client Page</title>
</head>
<script>
	// Navbar Component Function
	$(function(){
      $("#navbar").load("partials/navbar.html"); 
	});

	//Autocomplete Datalist
	var selected;
	var xmlhttp = new XMLHttpRequest();
	xmlhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			var myObj = JSON.parse(this.responseText);
			for(x in myObj){
				// Create a new <option> element.
				var dataList = document.getElementById('data-list');
				var input = document.getElementById('autocomplete-input');
				var option = document.createElement('option');
        		// Set the value using the item in the JSON array.
				option.value = myObj[x].client;
				// Add the <option> element to the <datalist>.
				dataList.appendChild(option);
			}
		}
	};
	xmlhttp.open("GET", "LVI_CLIENTS.json", true);
	xmlhttp.send();

	// Populate Input Fields
	$(document).ready(function() {
		$('#name-lists').on('input', function() {
	    	var userText = $(this).val();
	    	$("#data-list").find("option").each(function() {
	      		if ($(this).val() == userText) {
	        		selected = $(this).val();
	        		//1
	        		$('#client').val($(this).val());
	      		}
				//2
				//3
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var myObj = JSON.parse(this.responseText);
						for(x in myObj){
							// Create a new <option> element.
							if (selected == myObj[x].client ){
								//4
								$('#client').val(myObj[x].client);
								$('#job_owner').val(myObj[x].job_owner);
								$('#trackingnumber').val(myObj[x].tracking_number);
								$('#need_acceptance').val(myObj[x].need_acceptance);
								$('#accept_phone').val(myObj[x].ok_to_accept_srs_over_the_phone);
								$('#trades').val(myObj[x].trades);
								$('#nte').val(myObj[x].nte);
								$('#ok_to_sub').val(myObj[x].ok_to_sub);
								$('#cam').val(myObj[x].cam);
								$('#cc').val(myObj[x].cc);
								$('#website').val(myObj[x].website);
								$('#instructions').val(myObj[x].special_instructions);
							}
						}
					}
				};
			xmlhttp.open("GET", "LVI_CLIENTS.json", true);
			xmlhttp.send();
			})
  		})
	});

	// Adding & Creating Client Function
	$(document).ready(function(){ 
  		$('#add-btn').click(function(){
   			$('.disabled').prop("disabled", false);
			$('.disabled').val("");
   			$(":input[name=client]").focus();
			$('.search-input').prop("disabled", true).val("");
			$(this).addClass('hide');
			
			$('#update-btn').addClass('hide');
			$('#create-btn, #delete-btn, #label').removeClass('hide');
  		});

		$('#delete-btn').click(function(){
			$('.disabled').prop("disabled", true);
			$('.disabled').val("");
			$('.search-input').prop("disabled", false);
			$(this).addClass('hide');
			$('#create-btn, #label').addClass('hide');
			$('#update-btn, #add-btn').removeClass('hide');
		});
	});
</script>

<body>
	<div id="navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col l4 show-on-large"></div>
				<div class="search-container input-field col s12 l4">
					<input id="name-lists" list="data-list" type="text" id="autocomplete-input" class="autocomplete search-input">
					<datalist id="data-list">
					</datalist>
					<label>Search</label>
					<button class="material-icons" id="search-btn">search</button>
				</div>
				<div class="col l4 show-on-large"></div>
		</div>
		
		<div class="row">
			<form class="col s12">
				<div class="center-align">
					<button type="submit" id="update-btn" disabled class="waves-effect waves-light btn-large">Update</button>
					<button type="submit" id="confirm-update-btn" disabled class="waves-effect waves-light btn-large hide">Confirm Update</button>
					<button type="submit" id="create-btn" class="waves-effect waves-light btn-large hide blue">Create Client</button>
				</div>
				<div class="row">
					<div class="input-field col s12 m6 offset-m3">
						<input type="text" id="client" disabled class="center-align disabled" value=" ">
						<label>Client Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m6 offset-m3">
						<input type="text" id="job_owner" name="jobowner" disabled class="center-align disabled" value=" ">
						<label>Job Owner</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 l6">
						<input type="text" id="trackingnumber" name="trackingnumber" disabled class="disabled" value=" ">
						<label>Tracking Number</label>
					</div>
					<div class="input-field col s12 l6">
						<input type="text" name="acceptance" id="need_acceptance" disabled class="disabled" value=" ">
						<label>Needs Acceptance:</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 l6">
						<input type="text" id="accept_phone" name="accept-sr" disabled class="disabled" value=" ">
						<label>Okay to Accept SRs over the phone?</label>
					</div>
					<div class="input-field col s12 l6">
						<input type="text" id="trades" disabled class="disabled" value=" ">
						<label>Trades:</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 l6">
						<input type="text" id="nte" disabled class="disabled" value=" ">
						<label>NTE:</label>
					</div>
					<div class="input-field col s12 l6">
						<input type="text" id="ok_to_sub" disabled class="disabled" value=" ">
						<label>Okay to Sub?</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 l6">
						<input type="text" id="cam" disabled class="disabled" value=" ">
						<label>CAMS:</label>
					</div>
					<div class="input-field col s12 l6">
						<input type="text" id="cc" disabled class="disabled" value=" ">
						<label>CC:</label>
					</div>
					
				</div>
				<div class="row">
					<div class="input-field col s12 l6">
						<input type="text" id="website" disabled class="disabled" value=" ">
						<label>Website:</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea type="text" disabled id="instructions" class="materialize-textarea disabled">&#32;</textarea>
						<label>Special Instructions:</label>
					</div>
				</div>
			</form>
		</div>
		<div class="fixed-action-btn">
			<button class="btn-floating btn-large blue waves-effect waves-light" id="add-btn">
				<i class="material-icons">add</i>
			</button>
			<button class="btn-floating btn-large red waves-effect waves-light hide" id="delete-btn">
				<i class="material-icons">close</i>
			</button>
		</div> 
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
