<% include partials/header %>

   <header class="col-md-12" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)), url('https://images.pexels.com/photos/941459/pexels-photo-941459.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center; min-height: 100vh; background-size:cover; background-attachment:fixed;" >
   
   <% include partials/navbar %>
    
    <main class="container-fluid p-2">
       <div class="container" id="announcement_tab" style="display: flex; justify-content: center; align-items: center; min-height: 90vh">
        <div class="row rounded">
            <section class="col-md-4 p-3 bg-dark text-white shadow" id="leftbox">
                <h3 class="text-center lead">What's new?</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit <span class="small text-warning">...See more</span></li>
                    <li class="list-group-item bg-dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit <span class="small text-warning">...See more</span></li>
                    <li class="list-group-item bg-dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit <span class="small text-warning">...See more</span></li>
                    <li class="list-group-item bg-dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit <span class="small text-warning">...See more</span></li>
                </ul>
            </section>
            <section class="col-md-8 p-4 bg-white shadow-lg"  id="rightbox">
                <h3 class="text-danger  text-center display-4 py-2 ">Paragraphs</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            </section>
        </div>
        </div>
    </main>
   </header>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<% include partials/footer %>