body {
    background-color: #f1f1f1 !important;
}
/* MATERIALIZE - CLIENT PAGE */
.modal-content .row, .modal-content .input-field {
    margin-bottom: 0 !important;
}
.enfra-logo {
    margin-top: 100px;
    width: 240px;
}
.lanevalente-logo {
    margin-top: 140px;
    width: 290px;
}
#search-btn {
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
}
#search-btn:onclick {
    background-color: #f1f1f1;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.row .col.s12 {
    padding: 5px 15px 0 15px;
}
.form-label {
    font-size: 20px;
}
.delete-cont {
    position: absolute;
    top: 15px;
    right: 95px;
}
.update-cont {
    position: absolute;
    top: 15px;
    right: 15px;
}
/* textarea {
    height: 100px !important;
} */

.cke_editable {
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 10px;
    min-height: 50px;
    overflow-x: auto !important;
}

.cke_editable ul, .cke_editable ul > li {
    list-style-type: disc !important;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
} 
.client-container ul {
    margin-left: 20px;
}
.client-container ul, .client-container ul > li {
    list-style-type: disc !important;
}
#create-btn {
    margin-top: 30px;
}
.fixed-action-btn {
    position: fixed;
    bottom: 5%;
    right: 7%;
}
#add-btn {
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #25a69a;
    color: white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
#update-btn {
    border-radius: 50%;
    border: none;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background-color: #25a69a;
    color: white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
#delete-btn {
    border-radius: 50%;
    border: none;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background-color: red;
    color: white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
#submit-btn {
    float: right;
    background-color: #25a69a !important;
    border-color: #25a69a;
}
/* MATERIALIZE - CLIENT PAGE - END */

/* .row {
    margin-bottom: 0 !important;
} */
/* .input-field {
    margin-bottom: 0 !important;
} */

@media only screen and (max-width: 575px) {
    .lanevalente-logo {
        margin-top: 10px;
    }
}