
.card {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px !important;
    padding: 15px;
}
.section1 {
    position: absolute;
    top: 0;
    height: 50vh;
}
.section1 img {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    width: 100vw;
    
}
.section2 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 44vh;
    background-color: #2196F3; 
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media only screen and (max-width: 425px) {
    .section2 {
        height: 67vh;
    }
}
@media only screen and (min-width: 426px) and (max-width: 800px) {
    .section2 {
        height: 60vh;
    }
}
@media only screen and (max-width: 620px) {
    .card {
        min-width: 320px !important;
    }
}
