body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f1f1f1 !important;
}
nav ul a {
	padding: 0 8px !important;
}
#dropdown1, #dropdown2 {
	top: 65px !important;
}
#dropdown3 {
	top: 145px !important;
}
#dropdown4 {
	top: 193px !important;
}
.modal {
	width: 30%;
}
.brand-logo img {
    width: 140px;
}
.navbar {
    background-color: #2196F3 !important;
}
.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}
nav ul a {
    padding: 8px !important;
}
.navbar-dark .navbar-toggler, .navbar-dark .navbar-toggler {
    border: none !important;
}

/* BACKGROUND */
.section1 {
    position: absolute;
    top: 0;
    height: 50vh;
    background-color: #f1f1f1;
}
.section1 img {
    position: fixed;
    top: 25%;
    transform: translateY(-30%);
    width: 100vw;
    z-index: -1;
}
.section2 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 44vh;
    background-color: #2196F3; 
    z-index: -1;
}
@media only screen and (max-width: 425px) {
    .section2 {
        height: 67vh;
    }
}
/* @media only screen and (max-width: 992px) {
    .brand-logo img {
        width: 100%;
    }
} */
@media only screen and (min-width: 426px) and (max-width: 800px) {
    .section2 {
        height: 60vh;
    }
}/* BACKGROUND - END*/

/* HOME */


