body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* BACKGROUND */
.section1 {
    position: absolute;
    top: 0;
    height: 50vh;
}
.section1 img {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    width: 100vw;
    
}
.section2 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 44vh;
    background-color: #2196F3; 
}
@media only screen and (max-width: 425px) {
    .section2 {
        height: 67vh;
    }
}
@media only screen and (min-width: 426px) and (max-width: 800px) {
    .section2 {
        height: 60vh;
    }
}/* BACKGROUND - END*/

/* MATERIALIZE LOGIN PAGE */
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    max-width: 600px;
    padding: 15px;
} /* MATERIALIZE LOGIN PAGE - END */

